body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../images/algoSimuBackGround2.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  overflow: hidden;
  /* background-color: rgb(138, 218, 221); */
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.active {
  background-color: darkgray;
  color: yellow;
}

.header-right {
  float: right;
  color: white;
}

.header a.icon {
  float: left;
  color: white;
}

.footer {
  overflow: hidden;
  /* background-color: rgb(138, 218, 221); */
  padding: 20px 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footer p {
  color: white;
  font-size: 30px;
  width: auto;
  margin: auto;

}

.home-screen-content {
  font-size: 45px;
  font-weight: bold;
  color: whitesmoke;
  padding: 30px;
  position: fixed;
  height: 100%
}

.sorting-item-input {
  height: 30px;
}

.input-command {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.input-comp {
  position: absolute;
  left: 30px;
  padding: 15px;
}

.input-button-pan {
  float: right;
}


